<form action="/figures" method="POST">
  Figure Name: <input type="text" name="figure[name]" id="figure_name">

<h1>Titles</h1>
<% Title.all.each do |title| %>
  <p><%= title.name %></p>
  <input type="checkbox" id="title_<%=title.id%>" name="figure[title_ids][]" value="<%= title.id %>">
  <% end %>

  <label><h4>Create New Title:</h4></label>
  <input type="text" id="new_title" name="title[name]">

<h1>Landmarks</h1>
<% Landmark.all.each do |landmark| %>
  <p><%= landmark.name %></p>
  <input id="landmark_<%=landmark.id%>" type="checkbox" name= "figure[landmark_ids][]" value="<%= landmark.id %>">
  <% end %>

  <input type="text" id="new_landmark" name="landmark[name]">
  <label>Year:</label>
  <input type="text" name="landmark[year_completed]">
  <input type="submit" value="Create New Figure">
</form>
